:root {
  --color-light: #ECEBFF;
  --color-dark: #010014;
  
  --color-bg-light: #BEC0E3;
  --color-bg-dark: #9B9FD4;
  
  --color-primary: #3429FC;
  --color-primary-dark: #0D02DE;
  
  --color-secondary: #CB4394;
  --color-secondary-dark: #B0307D;
}