// Containers
$container-width-mobile: 100%;
$container-width-desktop: 1312px;
$container-width-extra-large-desktop: 1600px;
$container-width-desktop: 1920px;


:root {
  --border-radius: 20px;
  
  --header-height: 5rem;
  --footer-height: 8.5rem;
  --hero-height: 23rem;
  
  --transition-duration: 0.3s;
  --transition-ease: ease-in-out;
}