@using SvConcatWeb.Extensions.ViewModels.Blocks
@inherits UmbracoViewPage<RteBlockViewModel>

<section class="o-section">
    <div class="container">
        <div class="c-rte">
            @Model.Content
        </div>
    </div>
</section>