<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="147776aa-302f-46f9-9138-05749eaa44c8" Alias="card" Level="2">
  <Info>
    <Name>Card</Name>
    <Icon>icon-credit-card color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7e823704-d404-4edc-a344-58bddb3e5fbd</Key>
      <Name>Card Description</Name>
      <Alias>cardDescription</Alias>
      <Definition>74cf8bf1-e826-425d-aef5-98f6ebbbe146</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The description to be used in a card view of this content item]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="cardInfo">Card info</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fcfec3d4-215c-41e7-9314-bece4b48e04b</Key>
      <Name>Card Image</Name>
      <Alias>cardImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The image to be used in a card view of this content item]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="cardInfo">Card info</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>77ae00c8-1945-4cd9-baa6-c422ea997618</Key>
      <Name>Card Link</Name>
      <Alias>cardLink</Alias>
      <Definition>34b67093-447b-4067-b2b5-38af32b7c482</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The link that should be opened when a card view of this content item is clicked. Leaving this empty will result in the card not being a clickable link]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="cardInfo">Card info</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e04618f1-442a-42a0-b682-975d198569ae</Key>
      <Name>Card Subtitle</Name>
      <Alias>cardSubtitle</Alias>
      <Definition>4c042d2f-371f-4cb4-aabb-eae4b7800855</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The subtitle to be displayed under the title in a card view of this content item]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="cardInfo">Card info</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fb56bf9c-fee2-4ead-9469-3630066e0f2c</Key>
      <Name>Card Title</Name>
      <Alias>cardTitle</Alias>
      <Definition>1ab707be-8380-4b69-9078-62361be4df24</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The title to be used in a card view of this content item]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="cardInfo">Card info</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7faf91e2-2ece-43d1-aede-760a5619c03a</Key>
      <Caption>Card info</Caption>
      <Alias>cardInfo</Alias>
      <Type>Tab</Type>
      <SortOrder>20</SortOrder>
    </Tab>
  </Tabs>
</ContentType>