<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="be605cce-fd71-4ad9-9ac2-cc57fb181c97" Alias="councilMembers" Level="2">
  <Info>
    <Name>Council Members</Name>
    <Icon>icon-folder color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Data</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="f5c75404-58ee-4f1b-a8f4-f64a6e4c11dc" SortOrder="0">councilMember</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>