<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="03eb0b62-40a8-4073-9bed-b2ee4ae0a2c7" Alias="overviewPage" Level="2">
  <Info>
    <Name>Overview Page</Name>
    <Icon>icon-layout-grid color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="25baaac0-c54a-43c5-b684-8a7ece2497f9">seo</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="0277a3c8-40e3-477f-a83a-7d2ee42a5b09" SortOrder="0">overviewDetailPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>00fb23df-766b-4d5d-aa20-84cf70419fad</Key>
      <Name>Hero</Name>
      <Alias>hero</Alias>
      <Definition>753001f7-1998-4caa-ab6f-2f6a3785729a</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The hero for this page]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>bde7beaf-4474-4811-9167-b9853b4fa0aa</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>