<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0277a3c8-40e3-477f-a83a-7d2ee42a5b09" Alias="overviewDetailPage" Level="2">
  <Info>
    <Name>Overview Detail Page</Name>
    <Icon>icon-layout-list color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="147776aa-302f-46f9-9138-05749eaa44c8">card</Composition>
      <Composition Key="25baaac0-c54a-43c5-b684-8a7ece2497f9">seo</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e19078b6-80a4-4a43-8ff1-b8356049e9f0</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>c00d83a6-d602-470f-b4fd-21b7aefdeab3</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The content blocks for this page]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1bfb379e-6b71-458f-8e3a-d53d3e836dc3</Key>
      <Name>Hero</Name>
      <Alias>hero</Alias>
      <Definition>f79518ee-6565-4717-b846-1d17d356afa9</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The hero for this page]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f185a3a3-4463-4821-91f6-fce300c65647</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>