<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0b9f6a19-caed-4557-beb9-bbdd74bf9bcf" Alias="sponsors" Level="2">
  <Info>
    <Name>Sponsors</Name>
    <Icon>icon-folder color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Data</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="8f6ee58f-55aa-4e90-a999-213b5860bd93" SortOrder="0">sponsor</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>