<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="49afbad9-7c58-45f3-87ef-a8b49e0dfb65" Alias="website" Level="1">
  <Info>
    <Name>Website</Name>
    <Icon>icon-globe color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="25baaac0-c54a-43c5-b684-8a7ece2497f9">seo</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="fca45722-1953-4c84-a214-64b74493f002" SortOrder="0">contentPage</ContentType>
    <ContentType Key="03eb0b62-40a8-4073-9bed-b2ee4ae0a2c7" SortOrder="1">overviewPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>b9c94e81-d40a-44a3-b7c1-f56d98ecd227</Key>
      <Name>Columns</Name>
      <Alias>columns</Alias>
      <Definition>7aeb4909-80a5-4157-a810-74cddd8ed68c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9525c4b7-7481-4f4c-9d15-ec1f3412ac3f</Key>
      <Name>Disable Indexing (Site Wide)</Name>
      <Alias>disableIndexingSiteWide</Alias>
      <Definition>76851b1b-8ebe-4a8a-9b5b-16993bc2ad81</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Disable indexing for this site and all nodes under it]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="sEO">SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>914b33d4-3be0-4eb3-ac3f-5ca962cde351</Key>
      <Name>External Links</Name>
      <Alias>externalLinks</Alias>
      <Definition>b7e35335-3a6f-4b1e-8e16-2568dd9ddd30</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6e858d96-1701-4776-abbe-910105e2e18b</Key>
      <Name>Main Nav Items</Name>
      <Alias>mainNavItems</Alias>
      <Definition>eeafeedc-5752-41dd-b7c2-25f1aa3059e0</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2fc0658d-5391-4eb1-8eb6-8b1d9eced577</Key>
      <Name>Site Logo</Name>
      <Alias>siteLogo</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>06cd2581-5305-4055-b60a-6eb9db9b1399</Key>
      <Caption>SEO</Caption>
      <Alias>sEO</Alias>
      <Type>Tab</Type>
      <SortOrder>50</SortOrder>
    </Tab>
    <Tab>
      <Key>3eb253b5-f3c6-4fb4-9fac-29f151add4bd</Key>
      <Caption>Header</Caption>
      <Alias>header</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>5bcab160-2d5b-44e2-a668-ff524d8b8fb2</Key>
      <Caption>Footer</Caption>
      <Alias>footer</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>