<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c00d83a6-d602-470f-b4fd-21b7aefdeab3" Alias="[BL] Content Blocks" Level="2">
  <Info>
    <Name>[BL] Content Blocks</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Block+List</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a9ae1634-3b82-4870-9d79-2065fbaf572a",
      "label": "RTE Block: {umbValue: content | stripHtml | wordLimit:10}...",
      "thumbnail": "/wwwroot/thumbnails/rte-block.png"
    },
    {
      "contentElementTypeKey": "7c34f415-f17a-4b4b-a500-52bb84d9dc67",
      "label": "Media block${ title ? \u0022: \u0022 \u002B title : \u0022\u0022 }",
      "thumbnail": "/wwwroot/thumbnails/media-block.png"
    },
    {
      "contentElementTypeKey": "31b2ed5e-3257-4062-a6e1-c7b4916168e2",
      "label": "Image Block",
      "thumbnail": "/wwwroot/thumbnails/image-block.png"
    },
    {
      "contentElementTypeKey": "e658d21d-99d7-41f8-9673-8bb8a0171874",
      "label": "Video Block",
      "thumbnail": "/wwwroot/thumbnails/video-block.png"
    },
    {
      "contentElementTypeKey": "0f289234-ea9b-4cc0-8116-f0441f80f898",
      "label": "Cta block${ title ? \u0022: \u0022 \u002B title : \u0022\u0022 }",
      "thumbnail": "/wwwroot/thumbnails/cta-block.png"
    },
    {
      "contentElementTypeKey": "c96046aa-7b52-43b6-909b-0876fb43d357",
      "label": "Cards block${ title ? \u0022: \u0022 \u002B title : \u0022\u0022 }",
      "thumbnail": "/wwwroot/thumbnails/cards-block.png"
    }
  ]
}]]></Config>
</DataType>