<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8ad70370-9c94-4bd4-9770-b04a7f11bd64" Alias="[BL] Footer Items" Level="2">
  <Info>
    <Name>[BL] Footer Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Block+List</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "184a7dad-d576-4b90-8d66-dd05dc3072c1",
      "label": "Footer Item: ${ text ? text : link[0].name }"
    }
  ]
}]]></Config>
</DataType>