<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7aeb4909-80a5-4157-a810-74cddd8ed68c" Alias="[BL] Footer Columns" Level="2">
  <Info>
    <Name>[BL] Footer Columns</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Block+List</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5374d48b-ea15-4cb1-b61e-37c30be444bd",
      "label": "Column: {umbValue: columnName}"
    }
  ],
  "validationLimit": {
    "max": 3
  }
}]]></Config>
</DataType>