<?xml version="1.0" encoding="utf-8"?>
<DataType Key="753001f7-1998-4caa-ab6f-2f6a3785729a" Alias="[BL] Hero" Level="2">
  <Info>
    <Name>[BL] Hero</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Block+List</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f708dc18-ff00-4e01-8dd1-77943375e1ff",
      "label": "Hero: {umbValue: title}"
    }
  ],
  "validationLimit": {
    "min": 1,
    "max": 1
  }
}]]></Config>
</DataType>