<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1d2f48e5-181b-4100-b91e-a958e0ae8df4" Alias="[Content Picker] max 1" Level="1">
  <Info>
    <Name>[Content Picker] max 1</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "",
  "maxNumber": 1,
  "minNumber": 0,
  "startNode": {
    "type": "content"
  }
}]]></Config>
</DataType>