<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5bdce126-8abf-4907-8221-6db71c17dec0" Alias="[Media Picker] Video Picker" Level="2">
  <Info>
    <Name>[Media Picker] Video Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
    <Folder>Media+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "filter": "f6c515bb-653c-4bdc-821c-987729ebe327",
  "startNodeId": "512f4ce9-86c3-41df-9571-213f703c6e4f",
  "validationLimit": {
    "min": 1,
    "max": 1
  }
}]]></Config>
</DataType>