<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5cddd757-8667-43cb-84f5-8cddc602e48c" Alias="[Numeric] Number" Level="2">
  <Info>
    <Name>[Numeric] Number</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Integer</EditorUIAlias>
    <Folder>Numeric</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>