<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e71992a5-3602-4104-9070-e1f4894081fb" Alias="[Text Area] Max 500" Level="2">
  <Info>
    <Name>[Text Area] Max 500</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
    <Folder>Text+Area</Folder>
  </Info>
  <Config><![CDATA[{
  "maxChars": 500
}]]></Config>
</DataType>