<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1ab707be-8380-4b69-9078-62361be4df24" Alias="[Text Box] Max 60" Level="2">
  <Info>
    <Name>[Text Box] Max 60</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
    <Folder>Text+Box</Folder>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 60
}]]></Config>
</DataType>