@using SvConcatWeb.Extensions.ViewModels.Blocks
@inherits UmbracoViewPage<ImageBlockViewModel>

<section class="o-section">
    <div class="container">
        
        @await Html.PartialAsync("common/Image", Model)
        
    </div>
</section>