@using SvConcatWeb.Extensions.ViewModels.Blocks
@inherits UmbracoViewPage<VideoBlockViewModel>

<section class="o-section">
    <div class="container">
        
        @await Html.PartialAsync("common/Video", Model)
        
    </div>
</section>