@use '../01-settings/typography' as *;

.c-hero {
  width: 100%;
  height: var(--hero-height);
  position: relative;
  margin-block-start: calc(var(--border-radius) * -1);
  
  &__media {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    
    img {
      object-fit: cover;
    }
  }
  
  &__body {
    margin-block-start: 10rem;
    margin-inline: 4.75rem;
    
    h1,
    p {
      color: var(--color-light);
      margin: 0;
    }
  }
}