@use '../02-tools/media-queries' as mq;

.c-media {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include mq.media-breakpoint-up(tablet) {
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
  }
  
  &__body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  &__media {
    border-radius: var(--border-radius);
    overflow: hidden;

    @include mq.media-breakpoint-up(tablet) {
      max-width: 32rem;
    }
    
    img {
      width: 100%;
    }
  }
}