@use '../01-settings/typography' as *;

.c-overview {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  
  &__top {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  &__facets {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-inline-start: auto;
    
    &__year {
      display: flex;
      gap: 1rem;
      align-items: center;
      
      background-color: var(--color-secondary);
      color: var(--color-light);
      border: 2px solid var(--color-secondary-dark);
      border-radius: var(--border-radius);
      font-weight: $font-weight-semibold;
      padding: 0.5rem 1rem;
      
      button {
        font-size: 22px;
        color: var(--color-light);
        font-weight: $font-weight-semibold;
        
        &:active,
        &:focus {
          outline: none;
        }
      }
    }
    
    &__ordering {
      select {
        font-size: 22px;
        background-color: var(--color-secondary);
        color: var(--color-light);
        border: 2px solid var(--color-secondary-dark);
        border-radius: var(--border-radius);
        font-weight: $font-weight-semibold;
  
        padding: 0.5rem 1rem;
      }
    }
  }
  
  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  
  &__pagination {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: end;
    
    button {
      width: 42px;
      aspect-ratio: 1;
      border-radius: 100%;
      background-color: var(--color-secondary);
      color: var(--color-light);
      font-size: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      
      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
    
    &__pages {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    &__page[aria-current="page"] {
      background-color: var(--color-secondary-dark);
      opacity: 1;
      cursor: default;
    }
    
    &__ellipsis {
      display: inline-flex;
      align-items: flex-end;
      min-width: 1.5rem;
      justify-content: center;
      color: var(--color-secondary-dark);
      font-weight: $font-weight-semibold;
    }
  }
}