.c-rte {
  width: 75%;
  
  ul,
  ol {
    li p {
      margin: 0;
    }
  }
  
  .c-image,
  .c-video,
  .c-cta {
    max-width: 100%;
    
    &:not(:last-child) {
      margin-block-end: 2rem;
    }
  }
}