@inherits UmbracoViewPage<SvConcatWeb.Extensions.Models.IMasterModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="nl">
<head>
    <title>@Model.SeoTitle | @Model.SeoSiteName</title>

    <link rel="stylesheet" href="/dist/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">

    <script src="/dist/main.js"></script>
</head>
<body>

@await Component.InvokeAsync("Header", new { source = Model })

<main>
    @RenderBody()
</main>

@await Component.InvokeAsync("Footer", new { source = Model })

</body>
</html>