@using SvConcatWeb.Extensions.ViewModels.Blocks
@inherits UmbracoViewPage<CtaBlockViewModel>

<div class="o-section">
    <div class="container">
        
        @await Html.PartialAsync("common/Cta", Model)
        
    </div>
</div>