<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f79518ee-6565-4717-b846-1d17d356afa9" Alias="[BL] Hero - Detail Page" Level="2">
  <Info>
    <Name>[BL] Hero - Detail Page</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Block+List</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "6666e20e-d386-46c6-9293-8a067a7c582d",
      "label": "Hero: {umbValue: title}"
    }
  ],
  "validationLimit": {
    "min": 1,
    "max": 1
  }
}]]></Config>
</DataType>