<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a9fe58da-530a-4d85-8cd7-b19b236a3ee0" Alias="[Content Picker] Cards" Level="2">
  <Info>
    <Name>[Content Picker] Cards</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
    <Folder>Content+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "filter": "0277a3c8-40e3-477f-a83a-7d2ee42a5b09,8f6ee58f-55aa-4e90-a999-213b5860bd93,f5c75404-58ee-4f1b-a8f4-f64a6e4c11dc",
  "maxNumber": 4,
  "minNumber": 1
}]]></Config>
</DataType>