<?xml version="1.0" encoding="utf-8"?>
<DataType Key="34b67093-447b-4067-b2b5-38af32b7c482" Alias="[Multi URL Picker] Max 1" Level="2">
  <Info>
    <Name>[Multi URL Picker] Max 1</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
    <Folder>Multi+URL+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 1,
  "minNumber": 0
}]]></Config>
</DataType>