<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b7e35335-3a6f-4b1e-8e16-2568dd9ddd30" Alias="[Multi URL Picker] Max 2" Level="2">
  <Info>
    <Name>[Multi URL Picker] Max 2</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
    <Folder>Multi+URL+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 2,
  "minNumber": 0
}]]></Config>
</DataType>