<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4c042d2f-371f-4cb4-aabb-eae4b7800855" Alias="[Text Box] Max 30" Level="2">
  <Info>
    <Name>[Text Box] Max 30</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
    <Folder>Text+Box</Folder>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 30
}]]></Config>
</DataType>