<?xml version="1.0" encoding="utf-8"?>
<DataType Key="74cf8bf1-e826-425d-aef5-98f6ebbbe146" Alias="[Text Area] Max 200" Level="2">
  <Info>
    <Name>[Text Area] Max 200</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
    <Folder>Text+Area</Folder>
  </Info>
  <Config><![CDATA[{
  "maxChars": 200
}]]></Config>
</DataType>