<?xml version="1.0" encoding="utf-8"?>
<DataType Key="76851b1b-8ebe-4a8a-9b5b-16993bc2ad81" Alias="[Toggle] Default False" Level="2">
  <Info>
    <Name>[Toggle] Default False</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
    <Folder>Toggle</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>